[submodule "ThirdParty/Gitmodules/Glfw"]
	path = ThirdParty/Gitmodules/Glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/Gitmodules/Mathlib"]
	path = ThirdParty/Gitmodules/Mathlib
	url = https://github.com/GuillaumeJuste/Mathlib.git
[submodule "ThirdParty/Gitmodules/assimp"]
	path = ThirdParty/Gitmodules/assimp
	url = https://github.com/assimp/assimp
[submodule "ThirdParty/Gitmodules/stb"]
	path = ThirdParty/Gitmodules/stb
	url = https://github.com/nothings/stb.git
